/* =========================================
		        User-row Styles
   ========================================= */

.user-row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: $ca-table-row;
    padding: .375em .5em;
    border-bottom: 1px solid $ca-table-row-border;

    &:nth-of-type(even) {
        background: $ca-table-row-alt;
    }

    &:last-of-type {
        border-bottom: none;
    }

    .no-flexbox & {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    &__column {
        flex: 1 0 0;

        .no-flexbox & {
            display: table-cell;
        }

        &--photo {
            flex-grow: 0;
            flex-basis: 50px;
            padding-right: .5em;

            .no-flexbox & {
                width: 50px;
            }
        }

        &--person {
            flex-grow: 4;
            align-self: flex-start;
            text-align: left;

            .no-flexbox & {
                width: 50%;
                vertical-align: top;
            }
        }

        &--data {
            min-width: 50px;
            padding-right: 26px;
            text-align: right;

            .no-flexbox & {
                vertical-align: middle;
            }
        }
    }

    &__photo {
        border: 1px solid transparent;
        border-radius: $border-radius;
        font-size: 0;

        &--no-photo {
            border-color: $ca-table-border;
        }
    }

    &__name {
        display: inline-block;
        vertical-align: top;
        padding: .225em 0;
        font-size: .85em;
        font-weight: bold;
        color: $ca-link;
    }

    &__rating {
        margin-top: .31em;

        &::before {
            content: url($p-images + 'icons/rating.png');
            margin-right: 4px;
        }
    }

    &__follow {
        $width: 14px;

        display: inline-block;
        vertical-align: top;
        width: $width;
        height: $width;
        margin: 4px 10px;
        background: $ca-state-neutral url($p-images + 'icons/plus.png') center center no-repeat;
        border-radius: $width/2;
        cursor: pointer;

        &::after {
            content: "Follow";
            display: block;
            width: 60px;
            line-height: $width;
            font-size: .8em;
            font-weight: normal;
            text-align: center;
            color: $ca-body;
            background-color: inherit;
            border-radius: $width/2;
            opacity: 0;
            transition: .2s;
            pointer-events: none;
        }

        &:hover::after {
            opacity: 1;
            pointer-events: all;
        }

        &--applied {
            background-color: $ca-state-okay;
            background-image: url($p-images + 'icons/tick.png');

            &::after {
                content: "Unfollow";
                width: 70px;
                background-color: $ca-state-negative;
            }
        }
    }

    &__number-data {
        font-size: 1.1em;
    }
}
