/* =========================================
		        User-row Styles
   ========================================= */

.user-row {
    display: flex;
    align-items: center;
    background: $ca-table-row;
    padding: .375em .5em;
    border-bottom: 1px solid $ca-table-row-border;

    &:nth-of-type(even) {
        background: $ca-table-row-alt;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &__column {
        flex: 1 0 0;

        &--photo {
            flex-grow: 0;
            flex-basis: 50px;
            padding-right: .5em;
        }

        &--person {
            flex-grow: 4;
            text-align: left;
        }

        &--data {
            min-width: 50px;
            padding-right: 26px;
            text-align: right;
        }
    }

    &__photo {
        border: 1px solid transparent;
        border-radius: $border-radius;

        &--no-photo {
            border-color: $ca-table-border;
        }
    }

    &__name {
        font-size: 1.1em;
        font-weight: bold;
        color: $ca-link;
    }

    &__rating {
        &::before {
            content: url($p-images + 'icons/rating.png');
        }
    }

    &__follow {
        background: url($p-images + 'icons/plus.png') no-repeat;

        &--applied {
            background-image: url($p-images + 'icons/tick.png');
        }
    }

    &__number-data {
        font-size: 1.4em;
    }
}
