/* =========================================
		       User-table Styles
   ========================================= */

.user-table {
    position: relative;
    margin-bottom: 3em;
    border: 1px solid $ca-table-border;
    border-radius: $border-radius;

    &__head {
        display: flex;
        background: $ca-table-head;
        padding: 4px 0 7px;
        border-bottom: 1px solid $ca-table-head-border;
    }

    &__head-column {
        flex: 1 0 0;
        font-weight: normal;

        &--photo {
            flex-grow: 0;
            flex-basis: 50px;
            padding-right: .375em;
        }

        &--person {
            flex-grow: 4;
        }

        &--data {
            min-width: 50px;
            padding-right: 26px;
            text-align: right;
        }
    }

    &__expand {
        $width: 173px;
        $height: 27px;

        position: absolute;
        top: 100%;
        left: 50%;
        width: $width;
        height: $height;
        margin-left: $width / -2;
        font-size: .68em;
        font-weight: bold;
        line-height: $height;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid $ca-table-border;
        border-top-style: dashed;
        border-radius: 0 0 $border-radius $border-radius;
        background: $ca-table-row-alt;
        cursor: pointer;
    }
}
