/* =========================================
		        User-row Styles
   ========================================= */

.user-row {
    background: $ca-table-row;
    border-bottom: 1px solid $ca-table-row-border;

    &:nth-of-type(even) {
        background: $ca-table-row-alt;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &__rating {
        &::before {
            content: url($p-images + 'icons/rating.png');
        }
    }

    &__follow {
        background: url($p-images + 'icons/plus.png') no-repeat;

        &--applied {
            background-image: url($p-images + 'icons/tick.png');
        }
    }
}
