/* =========================================
		       User-table Styles
   ========================================= */

.user-table {
    border: 1px solid $ca-table-border;

    &__head {
        display: flex;
        background: $ca-table-head;
        border-bottom: 1px solid $ca-table-head-border;
    }

    &__head-column {
        flex: 1 0 0;
        font-size: 1.25em;
        font-weight: normal;

        &--photo {
            flex-grow: 0;
            flex-basis: 50px;
            padding-right: .375em;
        }

        &--person {
            flex-grow: 4;
        }
    }

    &__expand {
        font-size: .85em;
        font-weight: bold;
        text-transform: uppercase;
        background: $ca-table-row-alt;
    }
}
