/* =========================================
		       User-table Styles
   ========================================= */

.user-table {
    border: 1px solid $ca-table-border;

    &__head {
        display: flex;
        background: $ca-table-head;
        border-bottom: 1px solid $ca-table-head-border;
    }

    &__head-column {
        flex: 1 0 0;

        &--photo {
            flex-grow: 0;
        }

        &--person {
            flex-grow: 4;
        }
    }

    &__expand {
        background: $ca-table-row-alt;
    }
}
