/* =========================================
		      Application Styles
   ========================================= */

.application {
    margin-top: 1em;

    &__header {
        text-transform: uppercase;
        margin-bottom: .4375em;

        &::before {
            position: relative;
            content: url($p-images + 'icons/people.png');
            top: 2px;
            margin-right: 4px;
        }
    }
}
