/* =========================================
		      Layout Elements
   ========================================= */

.wrapper {
    box-sizing: border-box;
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
}
