// Paths
$p-root: '/';
$p-images: $p-root + 'images/';

// Sizes
$border-radius: 3px;

// Typography
$fw-body: 500; // font-weight
$fz-body: 16px; // font-size
$ff-body: "Helvetica Neue", Arial, sans-serif; // font-family

// Colors
$color-light-gray: #f7f9fa;
$color-dark-gray: #5a5a5a;
$color-gray: #b6b6b6;
$color-blue: #2c76c7;
$color-green: #a4c574;
$color-red: #c37373;

// Colors applied
$ca-body: $color-light-gray;
$ca-text: $color-dark-gray;
$ca-link: $color-blue;
$ca-state-neutral: $color-gray;
$ca-state-okay: $color-green;
$ca-state-negative: $color-red;

// Table colors
$ca-table-border: #bfbfbf;
$ca-table-head: #ecf0f3;
$ca-table-head-border: #d8d9da;
$ca-table-row: #fbfbfb;
$ca-table-row-alt: white;
$ca-table-row-border: #f1f1f1;
